aiodocker==0.24.0
aiosqlite==0.21.0
aiostream==0.7.0
alembic==1.16.2
bcrypt==4.3.0
certifi==2025.6.15
cffi==1.17.1
chardet==5.2.0
click==8.2.1
databases==0.9.0
dnspython==2.7.0
docker==7.1.0
# docker-compose==2.20.0 (wrong version cant deploy)
email-validator==2.2.0
fastapi==0.115.14
# fastapi-jwt-auth==0.6.1 (wrong version cant deploy)
fastapi-jwt-auth==0.5.0
gunicorn==23.0.0
h11==0.16.0
httptools==0.6.4
idna==3.10
python-jose==3.5.0
makefun==1.16.0
mysqlclient==2.2.7
passlib==1.7.4
# passlib==1.8.1 (wrong version cant deploy)
psycopg2-binary==2.9.10
pycparser==2.22
pydantic==2.11.7
# PyJWT==2.7.0
PyJWT==2.10.1
python-multipart==0.0.20
PyYAML==6.0.2
requests==2.32.4
six==1.17.0
sh==2.2.2
# SQLAlchemy==2.0.20
SQLAlchemy==2.0.41
starlette==0.47.1
# sse-starlette==1.4.1 (wrong version cant deploy)
sse-starlette==2.3.6
typing-extensions==4.14.0
urllib3==2.5.0
uvicorn==0.35.0
uvloop==0.21.0
# websocket-client==1.7.2 (wrong version cant deploy)
websocket-client==1.8.0
websockets==15.0.1
wheel==0.45.1
setuptools==80.9.0
